<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	{{range $i, $b := .Beings}}
    <p>My name is {{$b.Name}} and I am a {{$b.Animal}}.</p>
    {{if ge $i (len $.Favorites)}}<p>I have no favorite food and no favorite person.</p>
    {{else}}<p>My favorite food is {{(index $.Favorites $i).FavoriteFood}} and my favorite person is {{(index $.Favorites $i).FavoritePerson }}.</p>
    {{end}}
    {{end}}
</body>
</html>