<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>
</head>

<body>
    <h1>Hello! The number you chose was {{.Number}}</h1>
    <p>Doubled = {{.Number | dbl}}</p>
    <p>Doubled and Squared = {{.Number | dbl | sq}}</p>
    <p>Doubled and Squared and Square-root = {{.Number | dbl | sq | sqrt}}

</body>
</html>