<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>
</head>

<body>
    {{range .}}
    <h1>Hello, my name is {{.Name}}</h1>
    {{template "numbers" .}}
    {{template "favorites" .}}
    {{end}}
</body>
</html>