<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	
    <p>My name is Jeri and I am a person.</p>
    
    <p>My name is Matt and I am a person.</p>
    
    <p>My name is Doodins and I am a cat.</p>
    
    <p>My name is Stinkins and I am a cat.</p>
    
    <p>My name is Rovi and I am a dog.</p>
    
    <p>My name is Danny and I am a good boy.</p>
    
    
    <p>My favorite food is Vegan/NonDairy and my favorite person is Doodins.</p>
    
    <p>My favorite food is Goldfish and my favorite person is Stikins.</p>
    
    <p>My favorite food is Milkins and my favorite person is Jeri.</p>
    
    <p>My favorite food is Tunins and my favorite person is Matt.</p>
    
    <p>My favorite food is Turkey Neck and my favorite person is Jeri.</p>
    
    <p>My favorite food is Buscuit and my favorite person is Matt.</p>
    
</body>
</html>