<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	
    <h1>My name is Jeri</h1>
	<h1>I am a person</h1>
	
    <h1>My name is Matt</h1>
	<h1>I am a person</h1>
	
    <h1>My name is Doodins</h1>
	<h1>I am a cat</h1>
	
    <h1>My name is Stinkins</h1>
	<h1>I am a cat</h1>
	
    <h1>My name is Rovi</h1>
	<h1>I am a dog</h1>
	
    <h1>My name is Danny</h1>
	<h1>I am a good boy</h1>
	
    <h1>My name is Naname</h1>
	<h1>I am a chicken</h1>
	
</body>
</html>